# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Composer files
/vendor*

# Configuration
/wp/wp-config.php

# Example themes
/wp/wp-content/themes/twenty*/

# Plugins
/wp/wp-content/plugins
/wp/wp-content/mu-plugins/*
!/wp/wp-content/mu-plugins/load.php

# Uploads
/wp/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# Bunker Trucking Theme
/wp/wp-content/themes/bt-zb/node_modules/
/wp/wp-content/themes/bt-zb/frontend/admin/scripts
/wp/wp-content/themes/bt-zb/frontend/admin/css
/wp/wp-content/themes/bt-zb/frontend/dist/css
/wp/wp-content/themes/bt-zb/frontend/dist/assets
/wp/wp-content/themes/bt-zb/frontend/dist/scripts