#intro {
    .intro-text-outer {
        display: flex;
        justify-content: right;
        padding-right: 10rem;
        @include media-breakpoint-down(lg) {
            padding-right: 0;
        }
    }
    .intro-text {
        font-size: 1.25rem;
        width: 500px;
        padding-top: 3rem;
        @include media-breakpoint-down(lg) {
            width: 100%;
            font-size: 1.25rem;
        }
        p {
            margin-bottom: 1rem;
        }
    }
    .intro-image {            
        width: 100%;
        height: 100%;
        .intro-image-bg {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}